  @media (min-width: 320px) and (max-width: 440px) {

    .main-canvas
    {
      padding: 20px;
    }

    .profile-img {
      height: 40%;
    }

    .right-aside-box
    {
      padding: 10px 20px ;
    }

    .experince-card {
    min-width: 95%;
  }
    .skills-section {
    padding: 0;
  }

  }

