/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/

:root {

  /*========== Colors ==========*/

  --main-color: #636363;
  --pink-color: #ff7979;
  --black-color: #222222;
  --white-color: #ffffff;
  --light-white: #f9f9f9;

  /*========== Font and typography ==========*/

  --heading-font: "Roboto Slab", serif;
  --text-font: "Poppins", sans-serif;

  /*========== z index ==========*/
  --z-absolute: 5050;
}


*,*:after,*:before{

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;

}



:active,:hover,:focus{  

  outline: 0 !important;
  outline-offset: 0 !important;

}


html{

  scroll-behavior: smooth;
  overflow-x: hidden;

}


body{

  font-family: var(--text-font);
  background: url('../Images/white.jpg') !important;
  background-size: cover !important;
  background-position: 50%; 
  height: 100vh !important;
  width: 100vw;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 50px 0;
  transition: all .3s;
}

body::after{
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
  height: 100vh;
  opacity: 0.3;
}


a{
  text-decoration: none !important; 
}

a:hover{

  text-decoration: none !important; 

}

ul li,
ol li{

  list-style-type: none;

}


.main_btn{
  display: block;
  align-items: center;
  background: var(--pink-color);
  width: 100%;
  color: var(--white-color);
  padding: 0.7rem 1.5rem;
  font-size: 0.98rem;
  font-family: var(--text-font);
  font-weight: 600;
  position: relative;
  border: 1px solid transparent;
  border-radius: 0.7rem;
  transition: .3s;
}

.main-btn:hover {

  color: var(--white-color);
  background-size: -150%;
  background-position: left center; 
}



.text-lg{

  font-size: 2.4rem;
  font-weight: 600;
  font-family: var(--heading-font);
  margin: 0;
  padding: 0.6rem 0;
  color: var(--black-color);

}

.text-md{

  font-size: 1.5rem;
  color: var(--black-color);
  font-family: var(--text-font);
  font-weight: 500;
  transition: .3s;

}

.text-sm{

  font-size:1.3rem;
  color: var(--black-color);
  font-family: var(--text-font);
  font-weight: 500;

}


p{

  color: var(--main-color);
  font-size: 1.0rem;
  font-family: var(--text-font);
  font-weight: 400;
  margin: 0 !important;
  padding: 0 !important;

}

span{
  position: relative;
  font-family: var(--text-font);
  color: var(--main-color);
  font-size: 0.8rem;
  font-weight: 400;
}

.wrapper{

  padding: 5rem 0;
}

.content-wrapper{

  width: 85%;
}

/* Scroll bar   */

::-webkit-scrollbar{

  width: 0.5rem;
  background-color:hsl(0, 0%, 87%);
}

::-webkit-scrollbar-thumb{

  background-color:hsl(0, 0%, 62%);
}

::-webkit-scrollbar-thumb:hover{

  background-color:hsl(0, 0%, 48%);
} 



/* ========= Navbar CSS ======== */



.canvas{
  height: 100vh;
  width: 100vw;
}


.header{
  padding-bottom: 50px;
}

.navbarBrand{

  font-size: 1.5rem;
  font-family: var(--text-font);
  font-weight: 600;
  /* color: var(--main-color); */
  background: radial-gradient(circle at 7.5% 24%, rgb(255, 61, 142) 0%, rgb(240, 82, 68) 25.5%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbarBrand:hover{
  color: var(--first-color);
}

.navbarBrand i{
  color: #494949;
  font-weight: 500;
}


#theme-switch{

  border: none;
  padding: 8px 14px;
  margin: 0 5px;
  border-radius: 50%;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  background: var(--white-color);

}

#theme-switch i{
  font-size: 1.4rem;
  color: var(--black-color);
}

#theme-switch-icon{
  transition: .3s;
}

.navbar-toggler{
  
  border: none;
  margin: 0 5px;
  border-radius: 50% !important;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  background: var(--pink-color) !important;
  padding: 9px 10px  !important;

}

.navbar-toggler i{
  color: var(--white-color);
}


.navbar-toggler:focus,
.navbar-toggler:active{
    
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2) !important;
}

.navbar.nav-wrapper {
  position: relative;
}

.navbar-collapse{

  background: var(--white-color) !important;
  margin: 5.3rem 0.8rem 0 0.8rem;
  padding: 1.1rem 0 1.1rem 3.1rem;
  border-radius: 10px;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;

}

.nav-menu .nav-link{

  position: relative;
  color: var(--main-color);
  font-size: 0.87rem;
  font-weight: 400;
  font-family: var(--text-font);
  padding: 0.2rem !important;
  transition: .3s;
}

.nav-link i{
  font-size: 1.4rem;
  margin-right: 0.3rem;
}

.nav-menu .nav-link:hover,
.nav-menu .nav-link.active,
.nav-menu .nav-link:focus{

  color: var(--pink-color)  !important;
  transition: .3s;
  
}

 .cpy_text {
      display: flex;               
      justify-content: center;   
      align-items: center;      
      gap: 5px;                  
      padding: 15px 0;             
      font-size: 14px;             
      color: #555;                 
    }

    .cpy_text a {
      text-decoration: none;       
      font-weight: 600;           
      color: blue;               
    }

    .cpy_text a:hover {
      text-decoration: underline;  /* underline on hover */
    }

   





  



/* <---------- Personal Details Bar ---------->  */

.personal_details_bar{
  width: 100%;
  background: var(--white-color);
  min-height: 100vh;
  height: auto; 
  top: 0px;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  text-align: center;
  padding: 20px 15px;
  border-radius: 20px;
  /* box-shadow: 0 0 7px rgba(0, 0, 0, 0.2); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.img_container img{
  border-radius: 10px;
  margin-bottom: 25px;
}

.name_container span{
  background: var(--light-white);
  display: inline-block;
  padding: 6px 11px;
  color: var(--main-color);
  font-size: 0.9rem;
}

.social_links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 30px 0;
  padding-inline-start: 0;
}


.social_links li>a>i{
  font-size: 1.4rem;
}

.social_links li>a{
  background: var(--light-white);
  padding: 10px;
  border-radius: 4px;
  transition: .3s;
}


.social_links li>a:hover{
  background: var(--main-color);
  color: var(--white-color) !important;
  transition: .3s;
}

.contact_info{
  display: flex;
  align-items: start;
  flex-direction: column;
  background: var(--light-white);
  padding: 20px 12px;
  border-radius: 10px;

}

.contact_item{
  display: flex;
  flex-direction: row;
  padding: 20px 0;    
  width: 100%;
  align-items: center;
}


.contact_item:not(:first-child) {
  border-top: 1px solid #a7a7a7;
}

.contact_item .text{
  text-align: left;
  margin-left: 10px;
}

.contact_item .text p{
  font-size: 0.86rem;
  color: var(--black-color);
}


.contact_item .text span{
  font-weight: 500;
}

.contact_item .icon_wrap i{
  font-size: 1.8rem;
}

.contact_item .icon_wrap{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: var(--light-white);
  /* padding: 3px; */
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.resume_btn{
  margin-top: 25px;
}


.resume_btn i{
  font-size: 1.4rem;
  margin: 0 0.4rem;
}


.resume_btn a:hover{
  color: var(--main-color);
  transition: .3s;
  background: transparent;
  border: 1px solid var(--main-color);

}


.resume_btn a:hover i{
  color: var(--main-color);
}


/* <---------- About Details Bar ---------->  */


.about_section_wrap,.resume_section_wrap,.work_section_wrap,.blog_section_wrap,.contact_section_wrap{
  min-height: 100vh;
  height: auto;
  width: 100%;
  background: var(--white-color); 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 50px 50px 0 50px;
  border-radius: 20px;
}

.about_section_wrap h1::after,
.resume_section_wrap h1::after,
.work_section_wrap h1::after,
.blog_section_wrap h1::after,
.contact_section_wrap h1::after{ 
  content: "";
  position: absolute;
  width: 52px;
  height: 3px;
  background: var(--pink-color);
  left: 0;
  top: 65px;
  border-radius: 5px;
}


.about_skill_content .card{
  border: 2px solid black;
  padding: 15px 0;
  /* text-align: center; */
}

#web_card{
  background: #ffe1baa2;
}


#web_card span i{
  color: #ffb554;
  font-size: 2.3rem;
}

#prog_card{
  background: #badaffa4;
}

#prog_card span i{
  color: #69afff;
  font-size: 2.3rem;
}

#photo_card{
  background: #ebbaff9d;
}

#photo_card span i{
  color: #d772ff;
  font-size: 2.3rem;
}

#content_card{
  background: #ffbaba9d;
}

#content_card span i{
  color: #ff7979;
  font-size: 2.3rem;
}

.about_skill_content .card h2{
  font-size: 1.3rem !important;
}

.about_freelance_content .card a{

  font-family: var(--text-font);
  font-size: 0.9rem;
  line-height: 2;
  color: var(--main-color);
  transition: .3s;
}


.about_freelance_content .card a:hover{

  color: var(--black-color);
  transition: .3s;

}



/* <---------- Resume Details Bar ---------->  */

.edu_details h2 i,
.exp_details h2 i,
.skill_details h2 i{
  margin-right: 0.6rem;
  font-size: 1.7rem;
  color: var(--pink-color);
}

.v_line{

  background: var(--main-color);
  height: 50vh;
  width: 1px;
}

.Points{
  position: absolute;
  width: 12px;
  height: 12px;
  background: var(--black-color);
  border-radius: 50%;
  left: -44px;  
}

#point_1{
  top: 5px;
}


#point_2{
  top: 55px;
}

#point_3{
  top: 55px;
}

#point_4{
  top: 55px;
}



.detail_box .duration{

  font-size: 0.9rem !important;

}

.progress_wrap span{
  font-size: 1.0rem;
  color: var(--black-color);
  font-family: var(--text-font);
}



/* <---------- Portfolio Details Bar ---------->  */



.project_nav_tabs .nav-tabs li{
  padding: 0 0.4rem;
}


.project_nav_tabs .nav-tabs li button{
  color: var(--main-color);
  font-weight: 600;
  border: 0;
  background: transparent;
}


.project_nav_tabs .nav-tabs li button.active,
.project_nav_tabs .nav-tabs li button:hover{
  color: var(--pink-color);
  transition: all .3s ease-in-out;
  background: transparent;
}


.tab-content .card{
  background: var(--light-white);
  border-radius: 0.7rem;
}


.tab-content .card h3{
  font-size: 1.2rem !important;
}

.tab-content a:first-child {
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
  margin-bottom: 0.7rem;
}

.tab-content a img {
  max-width: 391px !important;
  width: auto;
  margin-bottom: 0.7rem;

  transition: 0.3s;
}


.tab-content .card:hover a>img{

  transform: scale(1.05);
  transition: 0.3s;
  filter: brightness(0.5);
  
}

.tab-content .card:hover .eye_icon{
  display: block;
}


.tab-content .eye_icon{

  display: none;
  position: absolute;
  top: 30%;
  left: 41%;
  font-size: 1.5rem;
  background: #efefef88;
  padding: 0.3rem 0.7rem;
  border-radius: 0.3rem;
  transition: .3s;
  z-index: 1;
  cursor: pointer;

}


.tab-content .eye_icon i{
  color: #ffff;
}

/* Model CSS */

.modal{
  position: relative;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.modal button{
  top: 6%;
  position: absolute;
  right: 19%; 
  color: white !important;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50%;
  padding: 0.4rem;
  filter: invert(1); 
  
}


.fade:not(.show) {
  visibility: hidden;
}

.modal-dialog{
  display: flex !important;
  justify-content: center;
  align-items: center;
  max-width: 100% !important;
}


.modal-content{

  position: relative;
  width: 750px !important;
  height: auto;
  background: var(--white-color) !important;
  padding: 2rem;
  max-height: 90vh;
  overflow-y: scroll;

}

.modal-header{
  display: flex !important;
  justify-content: center !important;
}

.modal-header h2{
  font-family: var(--text-font);
  color: var(--pink-color);
  font-size: 1.3rem;
  font-weight: 700;
}

.project-thumbnail img{
  width: 100%;
  margin-top: 1.9rem;
}

.project-details p{
  padding: 0.2rem 0 !important;
  color: var(--main-color);
  font-size: 1.1rem !important;

}

.project-details p>span{
  color: var(--black-color);
  font-size: 1.1rem !important;
  font-weight: 500;
}

.project-details p>a{

  color: var(--black-color);
  font-weight:600;
}



/* <---------- Blog Details Bar ---------->  */



.blog_details .card{
  background: var(--light-white);
  border-radius: 0.7rem;
}



/* <---------- Contact Details Bar ---------->  */

#map iframe{

  width: 100%;
  height: 45vh;
  margin: 2rem 0;

}

.contact_form{
  width: 100%;
  padding: 1.3rem;
  height: auto;
  background: var(--light-white);
  border-radius: 0.7rem;
}

.contact_form .input_box{
  width: 100%;
  font-family: var(--text-font);
  margin-bottom: 3.0rem;
  font-size: 600;
}


.contact_form .input_box label{
  color: var(--main-color);
}


.contact_form .input_box input,
.contact_form .input_box textarea{

  display: inline-block;
  width: 100%;
  height: 0.8rem;
  border: 0;
  border-bottom: 1px solid var(--main-color);
  background: transparent;
  transition: all 0.3s;
  color: var(--black-color) !important;

}


.contact_form .input_box input:focus,
.contact_form .input_box textarea:focus{
  height: 2.3rem;
  transition: all .3s;
  border-color: var(--pink-color);
  font-weight: 400;
  color: var(--main-color);
}

.contact_form button{
  width: 25%;
}

.contact_form button:hover{
  background: transparent;
  color: var(--main-color);
  border-color: var(--main-color);
}



/* Website Dark Theme CSS */


/* Dark mode */

body.dark-mode{

  background: url('../Images/black.jpg') !important;
  background-size: cover !important;
  background-position: 50%; 
  height: 100vh !important;
  transition: all .3s;

  --white-color: #121212;
  --light-white: #202020;
  --black-color: #ffff;
  --main-color: #8d8d8d;


}


body.dark-mode::after{
  background: transparent !important; 
}


body.dark-mode #web_card,
body.dark-mode #prog_card,
body.dark-mode #photo_card,
body.dark-mode #content_card
{
  background: transparent !important;
  border: 2px solid var(--light-white) !important;
}


body.dark-mode .contact_item .icon_wrap{
  background: #000000 !important;
}


body.dark-mode .main_btn{
  color: #ffff !important; 
}